body{
    background: #efefef;
    font: 16px Helvetica,Arial,sans-serif;
    line-height: 1.62;
    
    margin: 0;
  }
a{
    text-decoration: none;
    color: inherit;
  }
*{
    margin: 0px;
    padding: 0px;

}
hr{
    height: 0px;
    border: none;
    border-top: 1px solid #dedede;
}
ul,ol {
    list-style: none;
}
h1,h2,h3,h4,h5 {
    font-weight: normal;
}
img{width: 100%;}

.loading {
    height: 200px;
    width: 200px;
    position: relative;
}

.loading::before,
.loading::after {
    content: '';
    height: 0px;
    width: 0px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: black;
    animation: s 1.5s linear infinite;
}

.loading::after {
    animation-delay: 0.75s;
}

@keyframes s {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.site-welcome {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.site-welcome.active {
    display: flex;
}



.clearfix::after{
    content: '';
    display: block;
    clear: both;
  }
.top-nav-bar-inner{
    padding-left: 16px;
    padding-right: 16px;

}
.top_nav_bar{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: all 0.5s;
    z-index: 1;
    color:#C7C6C7;
}
.top_nav_bar.move{
    background:#fff;
    padding: 10px 0px;
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.49);
    color: #3c4350;


}
.top_nav_bar nav{
    float: right;
    padding-top:5px ;
    padding-bottom: 2px;
}
.top_nav_bar a{
    float: left;
}
.top_nav_bar nav>ul{
    list-style-type: none; 
    margin: 0; 
    padding-right: 40px;
 }
.top_nav_bar nav>ul>li{
    float: left;
    margin-top: 3px;
    margin-left: 27px;
    margin-right: 17px;
    position: relative;
 }
 .top_nav_bar nav>ul>li>a{
     font-size: 14px;
     font-weight: 700;
     color:inherit;
     font-weight: bold;
     border-top: 3px solid transparent;
     border-bottom: 3px solid transparent;
     padding-top: 5px;
     padding-bottom: 5px;
     display: block;
     position: relative;
 }
 .top_nav_bar nav>ul>li.active>a::after,
 .top_nav_bar nav>ul>li.highLight>a::after{
     content: '';
     display: block;
     top: 100%;
     position: absolute;
     left: 0;
     width: 100%;
     height: 3px;
     background:  #e06567;
     animation: menuSlide 0.5s; 
    
 }
 @keyframes menuSlide {
     0%{width: 0;}
     100%{width: 100%;}
 }
 .top_nav_bar .submenu{
     cursor: pointer;
     top: 100%;
     display: none;
     right: 0;
     background: white;
     color:#3d4451;
     box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
 }
 .top_nav_bar li.active .submenu{
     display: block;
     position: absolute;
     animation: submenuSlide 0.3s;

 }

 @keyframes submenuSlide{
     0%{margin-right: 100%;}
     100%{margin-right: 0;}
 }
 .top_nav_bar .submenu>li{
     white-space: nowrap;
     padding: 5px 15px;
 }
 .top_nav_bar .logo {
     font-size: 30px;
     font-family: "Arial Black";
     padding-top: 4px;
     padding-bottom: 3px;
 }
 .top_nav_bar .logo .rs{
     color: #e8676b
 }
 .top_nav_bar .logo .card{
     color: #9a9da2;
 }
 .banner{
     height: 515px;
     background-image: url(../img/banner.jpeg);
     background-position: center center;
     background-size: cover;
     
     
 }
.banner .mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.6);
}
.usercard{
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    margin-top: -340px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.49);
    
    
}
.picture {
    width: 295px;
    height: 324px;
}
.picture img{
 
}

.usercard .welcome{
    position: relative;
    background-color: #e8676b;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 21px;
    
}
.usercard .welcome .triangle{
    display: block;
    position: absolute;
    border: 10px solid transparent;
    width:0px;
    border-left-color: #e8676b;
    border-top-width: 0px;
    left: 5px;
    top: 100%;
}
.usercard .picture{
    float: left;
}
.usercard .text{
    float: left;
    margin-left: 65px;
    width: 460px;
}
.usercard .text h1{
    margin-top: 33px;
}
.usercard .text p{
    margin-top: 3px;
}
.usercard .text hr{
    margin: 20px 0px;
}
.usercard .pictureandtext{
    padding: 57px 30px 50px 30px;
}
.usercard dl dt{
    float: left;
    width: 30%;
    padding: 6px 0px;
    font-weight: bolder;
}
.usercard dl dd{
    float: left;
    width: 70%;
    padding: 6px 0px;
    color: #9da0a7;
    

}
.usercard .socialaccounts{
    background: #e8676b;
    text-align: center;
}
.usercard svg{
    width: 30px;
    height: 30px;
    fill: whitesmoke;
    vertical-align: middle;
}
.usercard .socialaccounts a{
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    line-height: 30px;
    padding: 5px 0px;
    margin: 20px 16px;

}
.usercard .socialaccounts a:hover{
    background: #cf5d5f;
}
.downloadresume{
    font-size: 15px;
    padding: 21px 55px;
    margin: 5px 5px;
    line-height: 16px;
    border: 1px solid #cbcdcf;
    display: inline-block;
    background: #efefef;
    border-radius: 3px;
    color: #3d4451;
    font-weight: bold;
    transition: box-shadow 0.4s;
}
.downloadresumewrapper{
    text-align:center;
    margin: 25px;
}
.downloadresume:hover{
    box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.2);
}

.portfolio{
    margin-bottom: 70px;
}
.portfolio,
.message,
.skills,
.education{
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.portfolio>h2,
.skills>h2,
.message>h2,
.education>h2{
    margin-bottom: 25px;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}
.skills h3{
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 15px;

}
.skills>ol{
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.49);
    background-color: #fff;
    padding: 40px 35px 50px 35px;

}
.skills p {
    font-size: 15px;
    height: 20px;
    padding-left: 15px;
    padding-bottom: 5px;
}

.skills .progressBar1{
    width: 400px;
    height: 5px;
    border-radius: 3px;
    background: #F9DFE0;
    margin-bottom: 40px;
    overflow: hidden;
}
.skills .progressBar2{
    width: 400px;
    height: 5px;
    border-radius: 3px;
    background: #F9DFE0;
    
    overflow: hidden;

}
.skills .progress {
    width: 280px;
    height: 5px;
    border-radius: 3px;
    background: #e8676b;  
    transform: translateX(0);
    transition: all 2.5s;
}

.skills.offSet .progress{
    transform: translateX(-100%)

}
.skills>ol>li{
    float: left;
}
.progressBarpadding{
    padding: 0px 15px;
}
.portfolio{
    text-align: center;
    max-width: 1200px;
    
}
.portfolio >.works-wrapper{
    box-sizing: border-box;
    padding:20px 20px;
    
}
.portfolio ol{
    display: flex;
    flex-wrap: wrap;

}

.portfolio ol>li{
    transition: box-shadow 0.2s;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    margin: 20px 15px;
    width: 30.3333333%;
    overflow: hidden;
    position: relative;
}

.portfolio ol>li:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
}
.portfolio .img{
    background-color: rgb(99, 95, 95);
    overflow: hidden;
}
.portfolio  img{
    display: block;
    outline: none;
    opacity: 0.8;
    transition: opacity 1s, transform 1s;
}

.portfolio li:hover img{
    transform: scale3d(1.1, 1.1, 1);
    opacity: 1;
}

.portfolio ol>li .link{
    padding-top: 20px;
    display: flex;
    position: relative;
}
.portfolio ol>li .link a{
    margin: 0 10px;
    width: 150px;
    height: 25px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    cursor: pointer;
} 
.portfolio ol>li .link a:hover{
    background-color: #E6E6E6;
}
.portfolio ol>li .link>img{
    display: none;
    position: absolute;
    top: -200px;
    left: 100px;
    width: 150px;
}
.portfolio hr{
    height: 3px;
    border-radius: 2px;
    max-width: 200px;
    background-color: #d8dadc;
    margin-top: 10px;
    margin-bottom: 25px;
}

.portfolio .keyword{
    background-color: #e8676b;
    padding: 5px 5px;
    width: 68px;
    height: 28px;
    color: #fff;
    line-height: 28px;
    position: absolute;
    top: 8px;
    right: 8px;
}
.portfolio .description{
    text-align: left;
    padding-bottom: 20px;
    padding-left: 20px;
    color: #4d4d4d;
}



#messageList{
    background-color: whitesmoke;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.49);
    padding: 40px 35px 50px 35px;
    margin-bottom: 50px;

}
#messageList>li{
    padding: 16px;
    border-bottom:1px solid #DEE0DF;
}
#postMessageForm{
    text-align: center;
    margin-bottom: 50px;
}
#messageInput,
#messageName{
    width: 70px;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    line-height: 1.5em;
    padding: 5px;
    resize: none;
    border: 1px solid #777;
    margin: 10px 10px;

}
#messageInput{
    width: 300px;
}
#inputButton{
    outline: none;
    border: none;
    color: #FFF;
    background: #cb4e4e;
    border-radius: 6px;
    font-size: 1em;
    line-height: 1.5em;
    padding: 5px 15px;

    cursor: pointer;
}
#inputButton:hover {
    background: #ab3c3c;

}
