body{
    background: black;
    color: white;
    margin: 0;
  }
a{
    text-decoration: none;
    color: inherit;
  }
.clearfix::after{
    content: '';
    display: block;
    clear: both;
  }
.top-nav-bar{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
}
.top-nav-bar>nav{
    float: right;
    padding-top:6px ;
    padding-bottom: 2px;
}
.top-nav-bar>a{
    float: left;
}
.top-nav-bar>nav>ul{
    list-style-type: none; margin: 0; padding: 0;
 }
.top-nav-bar>nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
 }
 .top-nav-bar>nav>ul>li>a{
     font-size: 12px;
     color:#C7C6C7;
     font-weight: bold;
     border-top: 3px solid transparent;
     border-bottom: 3px solid transparent;
     padding-top: 5px;
     padding-bottom: 5px;
     display: block;
     
 }
 .top-nav-bar>nav>ul>li>a:hover{
     border-bottom: 3px solid #e06567
 }
 .top-nav-bar .logo {
     font-size: 24px;
     font-family: "Arial Black";
     padding-top: 4px;
     padding-bottom: 3px;
 }
 .top-nav-bar .logo .rs{
     margin-right: 4px;
     color: #e6686a
 }
 .top-nav-bar .logo .card{
     color: #9a9da2;
 }